@import "~@angular/material/theming";

.container {
  padding: 1em;
  .logo {
    width: 50%;
    margin: 0 auto;
    /* position: relative; */
    display: block;
    padding: 1em 0;
  }

  h1 {
    text-align: center;
  }
}
