<div fxFlexFill fxFlayout="column" fxLayoutAlign="center center">

    <mat-spinner *ngIf="showProgress==true else body"></mat-spinner>

</div>

<ng-template #body>
    <div class="container">
        <img class="logo" src="/assets/application icon.svg">
        <div *ngIf="isEmailSent==false else emailSent">
            <h1>Log in by email</h1>
            <p>We'll email you a link that will instantly log you in</p>
            <form [formGroup]="loginInForm" (ngSubmit)="submitLogInForm()" fxLayout="column" autocomplete="off">
                <mat-form-field appearance="legacy">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary" [disabled]="!loginInForm.valid">
                    SEND EMAIL
                </button>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #emailSent>
    <h1>Please check your email</h1>
    <p>We've sent you a link in your email to instantly log in</p>
</ng-template>