<form [formGroup]="newJobForm" (ngSubmit)="saveChanges(false)" fxLayout="column">
    <mat-form-field appearance="legacy">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Price</mat-label>
        <!-- 16 means minium pay here on that country for the job -->
        <input matInput type="number" formControlName="price" min="16">
    </mat-form-field>

    <mat-slide-toggle formControlName="uberPickUp">Uber Pickup</mat-slide-toggle>

    <div fxLayout>
        <button type="submit" mat-raised-button color="primary" [disabled]="!newJobForm.valid">
            Save
        </button>


        <button type="submit" mat-raised-button color="primary" (click)="saveChanges(true)"
            [disabled]="!newJobForm.valid">
            Save & Publish
        </button>
    </div>
</form>