.container {
  position: relative;
}

#me-video {
  position: absolute;
  bottom: 1em;
  right: 1em;
  height: 206px;
}

.my-qr-code-wrapper {
  background-color: #3f51b5;
  width: 150px;
  padding: 8px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  bottom: 12px;
  left: 12px;

  a {
    width: 100%;
    margin-top: 8px;
  }
}

.call {
    border: 1px solid;
}
