<div>
    <input mat-raised-button type="file" accept="image/*">


    <button mat-raised-button>
        Change Profile Picture
    </button>


    <h1>
        General
    </h1>

    <form [formGroup]="form" (ngSubmit)="submitForm()" fxLayout="column" autocomplete="off">
        <mat-form-field appearance="legacy">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="!generalForm.valid">
            SAVE
        </button>
    </form>

</div>



<ng-template #newProfile>

</ng-template>