@import "~@angular/material/theming";
.container {
  background: url("/assets/Flag_of_New_Zealand.svg");
  background-size: contain;
  opacity: 0;
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.loading-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffd6;
  z-index: 999;
}
.title {
  margin-top: 0;
}
.white-box {
  background: #ffffff;
  position: relative;
  padding: 1em;
  @include mat-elevation(2);
}

@keyframes show {
  100% {
    opacity: 1;
  }
}
