<div class="container" fxFlexFill fxFlayout="column" fxLayoutAlign="center center">

    <!-- show loading or content -->
    <mat-card>
        <mat-spinner *ngIf="showProgress==true else showContent"></mat-spinner>

    </mat-card>
</div>

<ng-template #showContent>
    <div *ngIf="isEmailSent==false else emailSent">

        <h1>Log in</h1>
        <p>You will recieve an email with the link to log you in</p>
        <form [formGroup]="loginInForm" (ngSubmit)="submitLogInForm()" fxLayout="column" autocomplete="off">
            <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" [disabled]="!loginInForm.valid">
                Login
            </button>
        </form>
    </div>

</ng-template>

<ng-template #emailSent>
    <h1>Please Check Your Mail</h1>
    <p>You should have recieved an email link in your email to instantly log in</p>
</ng-template>