<br>
<div fxLayout="row" fxLayoutAlign="space-around">
    <mat-card>
        <h1>Connected accounts</h1>
        <div matRipple class="account-row">
            Google
            <span fxFlex>
            </span>
            <mat-slide-toggle (change)="toogleLinkWithProvider('google.com')" [checked]="isGoogleLinked">
            </mat-slide-toggle>
        </div>

        <div matRipple class="account-row">
            Facebook
            <span fxFlex>
            </span>
            <mat-slide-toggle (change)="toogleLinkWithProvider('facebook.com')" [checked]="isFacebookLinked">
            </mat-slide-toggle>
        </div>

        <div matRipple>
            Twitter
            <span fxFlex>
            </span>
            <mat-slide-toggle (change)="toogleLinkWithProvider('twitter.com')" [checked]="isTwitterLinked">
            </mat-slide-toggle>
        </div>
        <div matRipple>
            Github
            <span fxFlex>
            </span>
            <mat-slide-toggle (change)="toogleLinkWithProvider('github.com')" [checked]="isGithubLinked">
            </mat-slide-toggle>
        </div>
    </mat-card>
</div>
<br>
<div fxLayout="row" fxLayoutAlign="space-around">
    <button mat-raised-button color="" (click)="deleteAccount()">Delete account</button>
</div>