<!-- Show login if user is not logged in

<div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="user$ | async else login">
        <h1>Home</h1>
        <p>Check out the github project</p>
        <a href="https://github.com/MMHossaini/Angular">Github</a>
    </div>
</div>

<ng-template #login>
    <app-login fxFlexFill></app-login>
</ng-template> -->

<gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
        <!-- your content here -->
    </gridster-item>
</gridster>